%section#calendar
  %header#calendar_header
    %h2
      =link_to "<",calendar_meals_path(:month => @month-1.month)
      = I18n.l @month, :format => '%B, %Y'
      =link_to ">",calendar_meals_path(:month => @month+1.month)
  .calendar
    -  I18n.t(:"date.day_names").rotate(1).each do |day|
      .day_header
        = day
    - meals_for_calendar(@month).each_with_index do |meals, day|
      .day
        = render partial: "calender_meal", :locals => { :meals => meals, :month => @month}
